body {
    font-family: 'Rowdies', cursive;
    background-color: aquamarine;
    text-align: center;
}
.header{
    color:blue;
}
.content{
    margin-left: auto;
    margin-right: auto;
}
table {
    margin-left: auto;
    margin-right: auto;
}
td{
    border-bottom: solid 1px grey;
    width:90px;
    height:90px;
    font-size:35px;
}