body {
    text-align: center;
}
.header{
    color:blue;
}
.content{
    margin-left: auto;
    margin-right: auto;
}
table {
    margin-left: auto;
    margin-right: auto;
}
td{
    border-bottom: solid 1px grey;
    width:120px;
    height:120px;
    font-size:40px;
}